

     <!-- <-------------------------       ---------------------------->
    <!-- <-------------------------SIDE-BAR ---------------------------->
    <!-- <-------------------------       ---------------------------->
    <aside class="sidebar">
        <h2>A T S</h2>

        <ul class="list-items">


            <li class="menu-item">
                <div class="menu">
                    <a href="/admin/dashboard" style="text-decoration: none; color: inherit;">
                        <i class="material-icons">dashboard</i>Dashboard
                      </a>
                </div>

            </li>

            <li class="menu-item">
                <div class="menu">
                    <a href="/admin/schools"> <i class="material-icons">location_city</i><span>All Schools</span></a>

                </div>

            </li>

            <li class="menu-item">
                <div class="menu">
                    <a href=""> <i class="material-icons">add</i> <span>Add School</span></a>
                </div>

            </li>

            <li class="menu-item">
                <div class="menu">
                    <a href="/admin/select-template"> <i class="material-icons">badge</i><span>Card Designs</span></a>

                </div>

            </li>



            <li class="menu-item">
                <div class="menu">
                    <a href="#setting"> <i class="material-icons">settings</i><span>Settings</span></a>
                </div>
            </li>

            <li class="menu-item">
                <div class="menu">
                    <a href="/admin/logout"> <i class="material-icons">logout</i><span>Log out</span></a>
                </div>
            </li>
        </ul>
        <div class="expnd"><i class="material-icons toggle-arrow">keyboard_double_arrow_left</i><span>Collapse</span>
        </div>
    </aside>

    <!-- <-------------------------               ------------------ -->
    <!-- <------------------------- TOP BAR               ------------------ -->
    <!-- <-------------------------               ------------------ -->

    <main class="main-content">
        <header class="top-bar">

            <h2>Admin Dashboard</h2>
            <div class="icons">
                <div class="profile ">
                    <img src="/images/adminlogo.png" alt="img">
                    <div class="profile-info ">
                        <Span id="adminName " class="dropdown-btn" onclick="toggleDropdown()">
                            Mr. Pokhar Mal Kumawat

                        </Span>
                        <span class="admin">Super Admin</span>
                    </div>

                </div>

                <div class="icon"><i class="material-icons">mail</i></div>
                <div class="icon">
                    <i class="material-icons">notifications</i>
                </div>


                <!-- Dark Mode Toggle with Label -->
                <div class="icon dark-mode-container">
                    <span class="toggle-label">Dark Mode</span>
                    <label class="dark-mode-toggle">
                        <input type="checkbox" id="darkModeSwitch" />
                        <span class="slider"></span>
                    </label>
                </div>

            </div>

        </header>

     