* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
  }
  
  
  body {
      margin: 0;
      padding: 0;
      display: flex;
      font-family: poppins;
  }
  
  .container {
      display: flex;
      height: 100vh;
      width: 100vw;
  }
  
  .halfleft{
      background-color: #55297f;
      height: 100vh;
      width: 50vw;
      box-shadow: 10px 0 50px rgba(0, 0, 0, 0.2);
      z-index: 99;
  }
  
  .images{
      width: 50vw;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 50px;
  }

  .images object {
      width: 40vw;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 99;
  }
  

  .halfright {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      height: 100vh;
      position: absolute;
      right:0;
   
  }
  
  .halfright .login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
  
  
  .login-container {
  
      padding: 40px;
      width: 500px;
      text-align: center;
      display: flex;
      flex-direction: column; 
      align-items: center; 
      justify-content: center;
      text-align: center;
  }
  
  
  
  .welcome h1 {
      font-size: 28px;
      font-weight: 400;
      margin-bottom: 10px;
      color: #55297f;
  }
  
  .welcome p {
      font-size: 16px;
      color: #666;
      margin-bottom: 30px;
  }
  
  .halfright .hidden{
      display: none;
  }
  
  .login-container .input-field {
      position: relative;
      margin-bottom: 20px;
      width: 100%;
      display: flex;
      align-items: center;
  }
  
  .login-container .input-field input {
      width: 100%;
      padding: 10px;
      border: 1px solid #5b5b5b;
      border-radius: 8px;
      color: #5b5b5b;   
  }
  
  .input-field input:focus{
      border-color: #55297f;
  }
  
  .input-field input,
  .dropdown:active {
      outline: none;
   
  }
  
  .input-field input,
  .input-field select {
      font-family: poppins;
      width: 100%;
      /* Ensure consistent width across all elements */
      padding: 10px;
      /* Optional: for consistent padding */
      font-size: 16px;
      /* Match font size for uniformity */
      box-sizing: border-box;
      /* Includes padding and border in width */
  }
  
  .input-field select {
      font-size: 16px;
      font-family: poppins;
      box-sizing: border-box;
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #5b5b5b;
      border-radius: 8px;
      background-color: #fff;
      color: #5b5b5b;
      /* appearance: none; Remove default dropdown arrow */
  }
  
  /* remove default arrows in mobile number field */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  .input-field select:focus,
  .input-field select:valid {
      outline: none;
  }
  
  .input-field label {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 16px;
      color: #aaa;
      transition: all 0.3s ease;
      pointer-events: none;
  }
  
  .input-field input:focus+label,
  .input-field input:not(:placeholder-shown)+label {
      top: -10px;
      left: 10px;
      font-size: 12px;
      color: black;
      background: #fff;
      padding: 0 5px;
  }
  
  
  button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #55297f;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
  }
  
  
  
    /* responsiveness */
    @media (max-width: 768px) {
      body {
          flex-direction: column;
          height: auto;
      }
  
      .container {
          flex-direction: column;
          height: auto;
          box-shadow: none;
      }
  
      .images {
          width: 100vw;
          height: auto;
          padding: 20px;
      }
  
      .images object {
          width: 80%;
          max-width: 300px;
      }
  
      .halfleft{
          width: 100vw;
          height: auto;
      }
  
      .halfright {
          width: 100vw;
          height: auto;
          position: static;
          padding: 20px 10px;
      }
  
      .login-container {
          width: 80%;
          padding: 20px;
      }
  
  
      .downtext {
          flex-direction: column;
          gap: 10px;
      }
  
      .flash-message {
          font-size: 12px;
      }
  
  }
  
    
   