<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot-password || ATS</title>
       <link rel="stylesheet" href="/css/flash.css">
    <link rel="stylesheet" href="/css/forgot-password.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    </style>
</head>

<body>

   <% if (success_msg && success_msg.length) { %>
  <div class="flash-message success">
    <span><%= success_msg %></span>
    <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
  </div>
<% } %>

<% if (error_msg && error_msg.length) { %>
  <div class="flash-message error">
    <span><%= error_msg %></span>
    <button class="close-btn" onclick="this.parentElement.style.display='none';">&times;</button>
  </div>
<% } %>

    <div class="container">
        <div class="halfleft">

            <div class="images">
                <object type="image/svg+xml" data="/images/forgot-password.svg"></object>
            </div>
        </div>


        <div class="halfright">
            <form action="/schools/forgot-password" method="POST" class="login-container" id="step1">

                <div class="welcome">
                    <h1>Forgot Password</h1>
                    <p>Please Enter your Email and we'll send you otp to reset password.</p>
                </div>

                <div class="input-field">
                    <input type="email" name="email" placeholder="" required>

                    <label for="email"> Email Address</label>
                </div>
                <div class="input-field">
                    <input type="number" name="affiliationNumber" placeholder="" required>

                    <label for="affiliationNumber"> affiliation Number</label>
                </div>


                <button type="submit">Send OTP</button>


            </form>
        </div>

    </div>
<script src="/js/flash.js"></script>
</body>

</html>